<div class="container animate__animated animate__fadeIn">

    <div>
        <h1>Pipes no comunes</h1>
        <p>Pipes incluidos en Angular - Usualmente en el CommonModule</p>
    </div>

    <h2 class="text-success">NO comunes:</h2>
    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">i18nSelect Pipe</h5>
                    <h6 class="card-subtitle mb-2 text-muted">i18nSelect cambiará el texto de una plantilla en función
                        del contenido de un objeto</h6>
                    <p class="card-text">
                        Saludos {{nombre}} es un placer
                        <b>{{genero | i18nSelect:generoMap}}</b>
                        a el evento...
                    </p>
                    <button class="btn btn-secondary btn-sm" (click)="cambiar()">Cambiar género</button>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">i18nPlural Pipe</h5>
                    <h6 class="card-subtitle mb-2 text-muted">i18nPlural cambiará el texto de una plantilla de
                        singular a plural</h6>
                    <p class="card-text">
                        Actualmente {{clientes.length | i18nPlural:clientesMap}} esperando...
                    </p>
                    <button class="btn btn-primary btn-sm" (click)="borrar()">Borrar 1 cliente</button>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">slice Pipe</h5>
                    <h6 class="card-subtitle mb-2 text-muted">slice pipe Creates a new Array or String containing a
                        subset (slice) of the elements. </h6>
                    <p class="card-text"> Mostrar array de Clientes sin usar ng-for </p>
                    <pre>{{clientes | slice:0}}</pre>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">keyvalue Pipe</h5>
                    <h6 class="card-subtitle mb-2 text-muted">KeyValuePipe Transforma objetos en arrays</h6>
                    <ul>
                        <li *ngFor="let item of persona | keyvalue">
                            <b>{{item.key|titlecase}} :</b> {{item.value}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>