<div class="text-layout">
  <h1>{{nombre | titlecase}}</h1>
  <h1>{{precio | number}}</h1>
</div>


<button pButton class="p-button-help" (click)="mostrarNombre()" label="Hola mundo" icon="pi pi-check" iconPos="right">
</button>

<p-card header="{{nombre | titlecase}}">
  <ng-template pTemplate="header">
    <img alt="Card" src="assets/showcase/images/usercard.png">
  </ng-template>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
    deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card>